h3{
    color: green;
    text-align: left;
    font-size: medium;
}
body{
    background-color: azure;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-color: aquamarine;
    text-align: left;
    font-size: smaller;
    border-collapse: collapse;
}
tr{
    border: 3px solid black;
}
td{
    border: 3px solid black;
}
th{
    border: 3px solid black;
}
